* {
    box-sizing: border-box;
}

html, body {
    background: #000;
    margin: 1rem 0.5rem;
    color: #fff;
    text-shadow: 
        1px 1px 1px #000,
        -1px -1px 1px #000;

    font-size: 16px;
    line-height: 26px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    font-family: Ubuntu, Roboto;
}

.center {
}

img {
    max-width: 100%;
}

h1 {
    margin: 3rem 0;
}

a {
    color: #fff;
}

.gallery-preview {
    margin-bottom: 1rem;
}

.gallery-preview img {
    max-height: 128px;
}

.gallery .images {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}

.gallery .image {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.single-image {}

.single-image img {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
}

.overlay {
    position: fixed;
    z-index: 1000;
}